{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "env": {
    "browser": true,
    "es2021": true,
    "es6": true,
    "jquery": true,
    "node": true
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": { 
    "prefer-const": ["error",
    {
      "destructuring": "any",
      "ignoreReadBeforeAssign": false
    }],
    "no-new-object": "error",
    "no-var": "error",
    "no-array-constructor": "error",
    "object-shorthand": ["error", "always"],
    "quote-props": ["error", "as-needed"],
    "prefer-object-spread": "error",
    "prefer-destructuring": ["error",
      {
        "VariableDeclarator": {
          "array": false,
          "object": true
        },
        "AssignmentExpression": {
          "array": true,
          "object": true
        }
      },
      {
      "enforceForRenamedProperties": false
      }
    ],
    "@typescript-eslint/no-var-requires": 0
  }
}