@use '@styles/variables.scss' as *;

$className: 'toggle';

.#{$className} {
  &__label {
    display: flex;
    align-items: center;
    cursor: pointer;

    &:focus-within {
      .#{$className}__title {
        color: $secondary;
      }
    }
  }

  &__title {
    font-size: 1rem;
    font-weight: 700;
    margin-right: .625rem;
  }

  &__switch-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    width: 0;
    height: 0;
  }

  &__switch-input:checked
  + &__switch {

    &::after {
      right: -60%;
    }
  }

  &__switch-input:focus
  + &__switch {
    border-color: $secondary;

    &::after {
      background-color: $secondary;
    }
  }

  &__switch {
    position: relative;
    height: 1.5rem;
    width: 3.75rem;
    border: .1875rem solid $darker;
    border-radius: 1.25rem;

    &::after {
      position: absolute;
      content: '';
      height: .875rem;
      width: .875rem;
      background-color: $darker;
      border-radius: 50%;
      transition: right 0.4s;
      margin: auto;
      top: 0;
      bottom: 0;
      left: 0;
      right: 60%;
    }
  }

  &_disabled {
    opacity: 0.4;
  }
}