$className: 'just-slider';

.#{$className} {
  border: $sliderBorder;
  border-radius: .3125rem;
  width: 100%;
  box-sizing: border-box;

  &__main {
    min-height: $sliderSize;
    max-height: $sliderSize;
    position: relative;
  }

  &__point {
    position: absolute;
    width: 100%;
    right: 0;
    top: 0;
  }

  &__handle {
    cursor: pointer;
    box-sizing: border-box;
    position: absolute;
    height: $handleHeight;
    width: $handleWidth;
    right: - calc($handleWidth / 2);
    top: - calc(($handleHeight / 2) - ($sliderSize / 2));
    background-color: rgb(49, 90, 153);
    border: .125rem solid white;
    border-radius: 50%;
  }
}