$sliderSize: .625rem;
$sliderBorderSize: initial;
$sliderBorder: initial;
$sliderBorderRadius: .625rem;

$handleHeight: 1.875rem;
$handleWidth: 1.875rem;

$dark-shade-10: rgba(31, 32, 65, 0.10);
$dark-shade-25: rgba(31, 32, 65, 0.25);
$dark-shade: rgb(24, 24, 24);

$dark: rgba(97, 97, 97);
$blue: rgb(0, 192, 255);

$dark-58: rgb(58, 58, 58);