$slider-size: .625rem;
$slider-border-radius: .625rem;

$handle-height: 1.875rem;
$handle-width: 1.875rem;

$dark-shade-5: rgba(31, 32, 65, 0.05);
$dark-shade-25: rgba(31, 32, 65, 0.25);
$dark-shade: rgb(24, 24, 24);

$dark: rgba(97, 97, 97);
$darker: rgb(58, 58, 58);

$primary: rgb(56, 189, 248);

$secondary-25: rgba(244, 63, 94, 0.25);
$secondary-50: rgba(244, 63, 94, 0.50);
$secondary: rgb(244, 63, 94);

$tertiary-50: rgba(34, 182, 128, 0.50);
$tertiary: rgb(34, 182, 128);
