$sliderSize: .625rem;
$sliderBorderRadius: .625rem;

$handleHeight: 1.875rem;
$handleWidth: 1.875rem;

$dark-shade-5: rgba(31, 32, 65, 0.05);
$dark-shade-25: rgba(31, 32, 65, 0.25);
$dark-shade: rgb(24, 24, 24);

$dark: rgba(97, 97, 97);
$blue: rgb(56, 189, 248);

$rose-25: rgba(244, 63, 94, 0.25);
$rose-50: rgba(244, 63, 94, 0.50);
$rose: rgb(244, 63, 94);

$green-50: rgba(34, 182, 128, 0.50);
$green: rgb(34, 182, 128);

$dark-58: rgb(58, 58, 58);