@use '@styles/variables.scss' as *;

$className: 'input-field';

.#{$className} {
  max-width: 12.5rem;

  &__label {
    display: flex;
    justify-content: space-between;
    min-height: 1rem;
    border: 3px solid $dark-58;
    border-radius: 1.25rem;
    overflow: hidden;

    &:focus-within {
      border-color: $rose;

      .#{$className} {
        &__title,
        &__input {
          color: $rose;
        }

        &__title {
          background-color: $dark-shade-5;
        }
      }
    }
  }

  &__title {
    flex: 3 3 auto;
    background-color: $dark-shade-25;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 1rem;
    font-weight: 700;
    padding: .25rem;
  }

  &__input {
    flex: 2 2 auto;
    width: 100%;
    font-size: 1rem;
    font-weight: 700;
    padding: 0 .625rem;
    border: none;
    outline: none;
  }

  &_disabled {
    opacity: 0.4;
  }
}