include ./components/head/head

include ./components/toggle/toggle
include ./components/input-field/input-field

- const className = "demo"

doctype html
html
  +head({ title })
  body
    div(class=`${className}__slider js-${className}__slider`)
    div(class=`${className}__toggle`)
      +toggle({
        title: "scale",
      })
    div(class=`${className}__input-field`)
      +input-field({
        title: "from",
        type: "number",
      })