include ./components/head/head

include ./components/slider-demo/slider-demo

-
  const className = "demo"
  const data = require("./data.json")

doctype html
html
  +head({ title })
  body
    ul(class=`${className} js-${className}`)
      each demo in data.demos
        li(class=`${className}__slider-demo js-${className}__slider-demo`)
          +slider-demo(demo)
