$className: 'demo';

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: Tahoma, Arial, 'sans-serif';
}

html,
body {
  min-width: 320px;
  max-width: 1920px;
  margin: 0 auto;
  background-color: $dark-58;
}

.#{$className} {
  min-height: 100vh;
  list-style-type: none;
  padding: 4.375rem 1.25rem;

  &__slider-demo {
    max-width: 1000px;
    margin: 6.25rem auto 0;

    &:first-child {
      margin-top: initial;
    }
  }
}